<div class="helpCenterLeft">
	<ul>
		<li class="{{helpCenterNavNow1==1?'ho':''}}" ng-click="helpCenterNavNow1=1">
			<a ui-sref="helpCenter.FAQ({hnum1:4,hnum2:1})">注册问题</a>
		</li>
		<li class="{{helpCenterNavNow1==2?'ho':''}}" ng-click="helpCenterNavNow1=2">
			<a ui-sref="helpCenter.FAQ.fywt({hnum1:4,hnum2:2})">费用问题</a>
		</li>
		<li class="{{helpCenterNavNow1==3?'ho':''}}" ng-click="helpCenterNavNow1=3">
			<a ui-sref="helpCenter.FAQ.zhwt({hnum1:4,hnum2:3})">账号问题</a>
		</li>
		<li class="{{helpCenterNavNow1==4?'ho':''}}" ng-click="helpCenterNavNow1=4">
			<a ui-sref="helpCenter.FAQ.xmwt({hnum1:4,hnum2:4})">项目问题</a>
		</li>
	</ul>
</div>