<style type="text/css">

</style>
<div class="modal-header">
    <h3>选择处理人</h3>
</div>
<div class="modal-body modalBody">
    <div class="tableListBox">
        <div class="listTitle">已选处理人：<span class="f_blue">项目经理>humq</span></div>
        <div class="listBody">
            <ul class="titleUl">
                <li>
                    <h1>角色：</h1>
                    <select class="selectNormal">
                        <option>项目经理</option>
                        <option>测试</option>
                        <option>开发</option>
                    </select>
                </li>
                <li>
                    <h1>用户：</h1>
                    <ul class="selectUl borderUl floatleft">
                        <li>zhaoyaj</li>
                        <li>humq</li>
                    </ul>
                    <div class="clear"></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="modal-footer">
    <button class="btn_blue" ng-click="ok()">确认</button>
    <button class="btn_gray" ng-click="cancel()">取消</button>
</div>
