<style type="text/css"> 
</style>
<div class="modal-header">
    <h3>添加关联流程</h3>
</div>
<div class="modal-body modalBody">
    <table class="table-fullborder">
        <tr>
            <th>流程列表</th>
        </tr>
        <tr>
            <td>
                <ul class="selectColumn">
                    <li><input type="checkBox" name="">流程1</li>
                    <li><input type="checkBox" name="">流程2</li>
                    <li><input type="checkBox" name="">流程3</li>
                    <li><input type="checkBox" name="">流程4</li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<div class="modal-footer">
    <button class="btn_blue" ng-click="ok()">确认</button>
    <button class="btn_gray" ng-click="cancel()">取消</button>
</div>
