<style type="text/css">
</style>
<div class="modal-header">
    <h3>修改角色</h3>
</div>
<div class="modal-body modalBody">
    <ul class="titleUl">
        <li>
            <h1>用户昵称：</h1>
            <h2>humq</h2>
            <div class="clear"></div>
        </li>
        <li>
            <h1>用户账号：</h1>
            <h2>739428090@qq.com</h2>
            <div class="clear"></div>
        </li>
        <li class="floatleft">
            <h1>角色：</h1>
            <ul class="selectUl borderUl multselectUl floatleft">
                <li><input type="checkbox" name="">zhaoyaj</li>
                <li><input type="checkbox" name="">humq</li>
                <li><input type="checkbox" name="">zhaoyaj</li>
                <li><input type="checkbox" name="">humq</li>
                <li><input type="checkbox" name="">zhaoyaj</li>
                <li><input type="checkbox" name="">humq</li>
                <li><input type="checkbox" name="">zhaoyaj</li>
                <li><input type="checkbox" name="">humq</li>
            </ul>
            <div class="clear"></div>
        </li>
    </ul>
</div>
<div class="modal-footer">
    <button class="btn_blue" ng-click="ok()">确认</button>
    <button class="btn_gray" ng-click="cancel()">返回</button>
</div>
