<style type="text/css">
.companyTypeBox {
    position: relative;
    cursor: pointer;
    display: inline-block;
}


.companyTypeBox .tips {
    position: absolute;
    padding: 10px 20px;
    left: 50%;
    margin-left: -200px;
    bottom: 30px;
    width: 400px;
    opacity: 0;
    transition: all 0.6s;
    -moz-transition: all 0.6s;
    /* Firefox 4 */
    -webkit-transition: all 0.6s;
    /* Safari 和 Chrome */
    -o-transition: all 0.6s;
    z-index: 1000;
}

.companyTypeBox:hover .tips {
    opacity: 1;
    bottom: 20px;
}

.companyTypeBox .tips .t1 {
    font-weight: 500;
    line-height: 24px;
}
</style>
<div>
    <div ui-view="topbar" style="position: fixed;width:100%; height: 60px;z-index: 200"></div>
    <div style="padding-top: 60px;">
        <div class="banner">
            <div class="content">
                <h3>TestCenter 企业版</h3>
                <h5>购买企业项目空间，开启自定义操作权限</h5>
            </div>
        </div>
        <div class="content">
            <div class="version">
                <ul class="title fix">
                    <li>当前账号版本</li>
                    <li>可建项目数/剩余项目数</li>
                    <li>项目成员规格</li>
                    <li>项目空间</li>
                    <li>自定义配置</li>
                </ul>
                <ul class="version_c">
                    <li>
                        <div style="display: table-cell;vertical-align: middle;font-size: 14px;">739428090@qq.com
                            <span class="f_blue marginl_10">免费版</span>
                            <div class="f_blue companyTypeBox">企业版
                                <div class="tips">
                                    <span class="t1">请至项目列表查看可使用的企业项目</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <p>5/2</p>
                    </li>
                    <li>
                        <p><span class="green">0-5</span>人规格</p>
                    </li>
                    <li>
                        <p class=""><span class="green">500</span>M规格
                            
                        </p>
                        <div class="f_blue companyTypeBox floatleft" style="display: table-cell;vertical-align: middle;margin-top: 62px;margin-left: -40px;">
                            <em class="glyphicon glyphicon-list-alt" style="font-size: 12px;"></em>
                            <div class="tips">
                                <span class="t1">项目空间 = 项目大小 + 项目附件实际大小 + bug数 * bug大小 + bug附件实际大小  + 用例数 * 用例大小 + 用例附件大小
                                </span>
                            </div>
                        </div>
                    </li>
                    <li ng-controller="custombuyModalCtrl">
                        <a ng-click="open()" href="">购买</a>
                    </li>
                    <div class="clear"></div>
                </ul>
                <div class="version_b">
                    <p>版本套餐</p>
                </div>
                <div class="version_a1">
                    <table class="versionTable">
                        <tr>
                            <th>版本信息</th>
                            <th>
                                入门版
                                <br>
                                <span><em class="c-blue">600</em>元每年</span>
                            </th>
                            <th>
                                基础版
                                <br>
                                <span><em class="c-green">998</em>元每年</span>
                            </th>
                            <th>
                                标准版
                                <br>
                                <span><em class="c-yellow">1980</em>元每年</span>
                            </th>
                            <th>
                                高级版
                                <br>
                                <span><em class="c-red">3680</em>元每年</span>
                            </th>
                        </tr>
                        <tr>
                            <td>项目数</td>
                            <td>3</td>
                            <td>5</td>
                            <td>10</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>成员规格</td>
                            <td>0-20</td>
                            <td>0-30</td>
                            <td>0-50</td>
                            <td>不限</td>
                        </tr>
                        <tr>
                            <td>项目空间</td>
                            <td>300M</td>
                            <td>500M</td>
                            <td>1G</td>
                            <td>2G</td>
                        </tr>
                        <tr>
                            <td>缺陷流程定制</td>
                            <td><span class="glyphicon glyphicon-ok c-green"></span></td>
                            <td><span class="glyphicon glyphicon-ok c-green"></span></td>
                            <td><span class="glyphicon glyphicon-ok c-green"></span></td>
                            <td><span class="glyphicon glyphicon-ok c-green"></span></td>
                        </tr>
                        <tr>
                            <td>自定义模块属性</td>
                            <td><span class="glyphicon glyphicon-ok c-green"></span></td>
                            <td><span class="glyphicon glyphicon-ok c-green"></span></td>
                            <td><span class="glyphicon glyphicon-ok c-green"></span></td>
                            <td><span class="glyphicon glyphicon-ok c-green"></span></td>
                        </tr>
                        <tr ng-controller="packagebuyModalCtrl">
                            <td>选择套餐</td>
                            <td>
                                <a ng-click="open()" class="btn-blue" href="">立即开通</a>
                            </td>
                            <td>
                                <a class="btn-blue" href="">立即开通</a>
                            </td>
                            <td>
                                <a class="btn-blue" href="">立即开通</a>
                            </td>
                            <td>
                                <a class="btn-blue" href="">立即开通</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="role">
            <div class="content">
                <h3>自主配置角色及角色权限角色管理</h3>
                <p>项目默认具有“项目经理、开发工程师、测试工程师”三种角色，支持添加自定义角色，自由配
                    <br />置所有角色的权限。帮助企业建立专属的协作模式。</p>
                <img src="images/upgrade_img1.png" />
            </div>
        </div>
        <div class="defect_treatment">
            <div class="content">
                <h3>定制化的缺陷处理流程</h3>
                <p>TestCenter默认一套符合CMMI国际标准的缺陷处理流程，支持定制缺陷状态、处理人角色、以
                    <br />及相应处理流程（状态变化）。帮助企业建立专属工作流。</p>
                <img src="images/upgrade_img2.png" />
            </div>
        </div>
        <div class="custom">
            <div class="content">
                <h3>自定义缺陷和用例的属性</h3>
                <p>TestCenter支持企业针对缺陷模块、用例模块添加自定义属性，从字段类型、必填属性、选项值
                    <br />等多方面自由定制。使工具更加贴近项目实际使用。</p>
                <img src="images/upgrade_img3.png" />
            </div>
        </div>
        <div class="help_tips">
            <div class="content">
                <h3>不知道如何配置项目？</h3>
                <p>可联系管理员为您定制专属缺陷流程
                    <br/>邮箱：<span class="f_blue">alltesting@spasvo.com</span></p>
            </div>
        </div>
    </div>
</div>