<div class="projectNav">
    <div class="projectNavList">
        <ul>
            <li ui-sref="adminCenter.userManager" class="" ng-click="projectNavNow=3">
                <img src="images/projectNav_user.png"> 用户管理
                <span>{{tcNum}}</span>
            </li>
            <li ui-sref="adminCenter" class="" ng-click="projectNavNow=2">
                <img src="images/projectNav_usecase.png"> 项目管理
                <span>{{atNum}}</span>
            </li>
            <li ui-sref="adminCenter.orderManager" class="" ng-click="projectNavNow=2">
                <img src="images/projectNav_order.png"> 订单管理
                <span>{{atNum}}</span>
            </li>
            <li ui-sref="adminCenter.processManager" class="" ng-click="projectNavNow=2">
                <img src="images/projectNav_processmanage.png"> 流程管理
                <span>{{atNum}}</span>
            </li>
        </ul>
    </div>
</div>
