<style type="text/css">
</style>
<div class="projectBodyBox"  ng-controller="customModelPropertiesCtrl">
	<div class="projectBodyTitle">
		自定义模块属性 
	</div>
	<div class="projectBodyFunction">
		<select class="projectSelect marginb_15">
			<option>项目一</option>
			<option>项目二</option>
			<option>项目三</option>
			<option>项目四</option>
		</select>
		<div class="clear"></div>
		<div class="floatleft" ng-controller="modelPropertiesModalCtrl">
        	<input ng-click="open()" class="floatleft fbtn fbtn_blue" type="button" value="新增属性">
        </div>
        <div class="clear"></div>
    </div>
    <div class="projectBodyList">
        <table class="tableList">
            <tr>
                <th>属性名称</th>
                <th>显示类型</th>
                <th>模块中是否显示</th>
                <th>默认值</th>
                <th>操作</th>
            </tr>
        </table>
        <div ng-repeat="v in tables.list">
            <table class="tableList">
                <tr>
                    <td>
                        <span class="zhankai" ng-click="toggle(item)">缺陷属性</span>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <table ng-show="tableDetail" class="tableDetail">
                <tr ng-repeat="x in List.subjects">
                    <td>{{x.shuxing}}</td>
                    <td>{{x.classs}}</td>
                    <td>{{x.mode}}</td>
                    <td>{{x.moren}}</td>
                    <td>
                    	<a class="f_blue" ng-class="{'border_none':x.isDefault}">编辑</a>
                        <a class="f_blue" ng-hide={{x.isDefault}}>隐藏</a>                       
                        <a class="f_blue" ng-hide={{x.isDefault}}>上移</a>
                        <a class="f_blue" ng-hide={{x.isDefault}}>下移</a>
                        <a class="f_red" ng-hide={{x.isDefault}}>删除</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>